html {
    background-color: black;
    font-family: 'Playball', cursive;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    color: rgb(246, 234, 176);
    margin: 20px 0 20px 0;
}

.hide {
    display: none;
    
}

.show {
    display:grid!important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #0a0909b0;
}


.card {
    height:200px;
    border-color: rgb(246, 234, 176);
    border-radius: 6px;
    border-style: solid;
}

.cards {
    position: relative;
    width: 100px;
    height: 175px;
}

.grid-item {
    transition: transform 400ms linear;
    position: absolute;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front-card {
    display: grid;
    position: absolute;
    transform: rotateY(180deg);
}

.cards.visible .front-card {
    transform: rotateY(0);  
}

.cards.visible .back-card {
    transform: rotateY(-180deg);
}

.back-card {
    display: grid;
    transform: rotateY(0);
}

.pop-up-text {
    color:rgb(246, 234, 176);
    text-align: center;
    font-size: 8em;
    position: absolute;
    right: 40%;
    top: 40%;
    z-index: 2;
}

.restart-text {
    position: absolute;
    text-align: center;
    justify-content: center;
    z-index: 2;
    top: 70%;
    font-size: 3em;
    right: 30%;
    color: rgb(209, 179, 112);
}

.score-overall {
    color: white;
}

.start-text {
    display: none;
}

.victory-container{
    display: none;
}

.try-again-container {
    display: none;
}

.pop-up-text .restart-text {
    font-size: 0.5em;
}

.game-details {
    color: rgb(209, 179, 112);
    font-size: 2.5em;
    display: flex;
    justify-content: space-evenly;  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    background-color: black;
    justify-content: center;
}

