html {
    background-color: black;
    font-family: 'Playball', cursive;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    color: rgb(246, 234, 176);
    margin: 20px 0 20px 0;
}

.start-text {
    color:rgb(246, 234, 176);
    text-align: center;
    font-size: 8em;
    position: relative;
    top: 225px;
}



.game-details {
    color:rgb(246, 234, 176);
    font-size: 2.5em;
    display: none;
    justify-content: space-evenly;  
}

.grid-container {
    display: none;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-gap: 25px;
    background-color: black;
    justify-content: center;
}

.card {
    height:200px;
    border-color: rgb(246, 234, 176);
    border-radius: 6px;
    border-style: solid;
}

